.container-card-page {
    display: flex;
    flex-direction: column;
    margin: 30px;
    color: $white;
    text-align: center;
    font-family: 'Inter', 'Merri', sans-serif;
    .header-card-page {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin-bottom: 30px;
        .left-arrow-card-page {
            width: 60px;
            height: 60px;
            border-radius: 500px;
            cursor: pointer;
            @media screen and (max-width:850px) {
                width: 50px;
                height: 50px;
            }
            &:hover {
                background-color: $card-bg-color;
                transform: scale(1.1);
            }
            
        }
        h1 {
            background-color: gray;
            border: 2px solid #fff;
            border-radius: 10px;
            color: #fff;
            font-size: 1.5rem;
            font-weight: 700;
            width: fit-content;
            padding: 10px 20px;
            align-self: center;
            transform: translateX(50%);
            @include title;
            @media screen and (max-width:850px) {
                font-size: 1rem;
                font-weight: 400;
            }

        }

        
    }
    .container-card-image-and-info {
        display: flex;
        flex-direction: row;
        gap: 20px;
        @media screen and (max-width: 930px) {
            flex-direction: column;
            gap: 20px;
        }
        .img-card {
            border-radius: 4px;
            box-shadow: 0 0 10px $color-box-shadow;
            height: 600px;
            width: 400px;
            @media screen and (max-width:930px) {
                height: 500px;
                width: 330px;
                margin: 0 auto;
            }
            @media screen and (max-width:450px) {
                height: 380px;
                width: 250px;
            }
        }
        .main-card-page {
            
            
            .card-page-container-table {
                display: flex;
                flex-direction: column;
                .page-table {
                    border-color: $color-border;
                    border-collapse: collapse;
                    
                    td {
                        
                        border: 2px solid $color-border;
                        padding: 10px;
                        font-size: 1rem;
                        font-weight: 200;
                        @media screen and (max-width:1150px) {
                            font-size: 0.8rem;
                        }
                    }
                    .synopsis {
                        position: relative;
                        text-align: left;
                        font-size: 1rem;

                        @media screen and (max-width:1150px) {
                            font-size: 0.8rem;
                        }
                        @media screen and (max-width:930px) {
                            display: -webkit-box;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            border-right: 2px solid $color-border;
                            border-top: none;
                            border-left: none;
                            border-bottom: none;
                            overflow: hidden;
                        }
                        .container-toggle-synopsis {
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            padding: 5px;
                            border-radius: 10px;
                            backdrop-filter: blur(1px);
                            .toggle-synopsis {
                                padding: 0px 15px;
                                background-color: rgba(32, 32, 32, 0.999) ;
                                color: white;
                                display: none;
                                border-radius: 10px; 
                                cursor: pointer;
                                @media screen and (max-width:930px) {
                                    display: block;
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                    .synopsis.collapsed {
                        -webkit-line-clamp: unset;
                        position: relative;
                        text-align: left;
                        font-size: 1rem;
                        @media screen and (max-width:1150px) {
                            font-size: 0.8rem;
                        }
                    }
                    .thead {
                        font-weight: 400;
                        @media screen and (max-width:1150px) {
                            font-size: 0.8rem;
                        }
                    }
                }
                p {
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img {
                        width: 32px;
                        height: 32px;
                        cursor: pointer;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}



