body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/repeated-square-dark.webp);

}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(24, 23, 23, 0.5);
    

}

header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #A1A19F;
}

.container-header {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;
}

.container-header a {
    color: white;
    text-decoration: none;
}


.container-header ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.container-header img {
    height: 30px;
    width: 30px
}

.container-header li div a{
    display: flex;
    align-items: center;
}

.container-header li div a img {
    padding-right: 10px;
}

.container-header p {
    color: white;
}

/*--------------------------------------------- LARGE SCREEN ----------------------------------------------*/
@media (max-width: 850px) and (min-width: 581px) {
    .container-header ul {
        display: flex;
        font-size: 10px;
    }

    .container-header img {
        width: 20px;
        height: 20px;
    }
}

/*--------------------------------------------- MOBILE SCREEN ----------------------------------------------*/
@media (max-width: 580px) {
    .container-header {
        height: 20%;
    }

    .container-header ul {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .container-header li {
        width: 100%;
        padding: 10px;
        border: 1px solid black;
    }

    .container-header a {
        width: 100%;
    }

    .container-header li:hover {
        background-color: lightblue;
        cursor: pointer;
    }

    .container-header p {
        padding-left: 10px;
    }

}


/*--------------------------------------------- CAROUSSEL -------------------------------------------------*/

.caroussel {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}