.button-filtre button {
    background-color: #4c4c4c;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.499);
    width: 150px;
    height: 50px;
    color: rgba(255, 255, 255, 0.746);
    font-size: 20px;
    margin-right: 10px;
}

.button-filtre button:hover {
    color: rgba(255, 255, 255, 0.938);
    border: 2px solid rgba(255, 255, 255, 0.499);
    cursor: pointer;
}