.containerCaroussel {
    width: 70%;
    height: 30%;
    background-color: #662D91;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    justify-content: flex-start;
}

.icone-title {
    padding-left: 175px;
    padding-top: 20px;
}

.title h2 {
    padding-left: 10px;
}

.page {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icone-fleche-droite, .icone-fleche-gauche {
    overflow: hidden;
    border-radius: 50%;
}

.icone-fleche-droite:hover, .icone-fleche-gauche:hover {
    cursor: pointer;
    background-color: grey;
}

.icone-fleche-droite-unable, .icone-fleche-gauche-unable {
    background-color: red;
}

