
.select-nbr-card {
    width: 10%;
    height: 20%;
    margin-left: 10px;
    margin-top: 10px;
}

.nbr-card {
    width: 70px;
    border-radius: 3px;
}


.sous-container-card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-image-optn {
    position: relative;
    display: flex;
    
    
}

.card {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    border: 2px solid rgba(250, 249, 249, 0.237);
    width: 190px;
    height: 268px;
    border-radius: 3px;
    margin-bottom: 30px;
    margin-left: 10px;
    
}

.card:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.catalogue-manga-card-image {
    position: absolute;
    height: 200px;
    width: 150px;
    transform: translateX(-50%) translateY(-100%);
    
    
    
}

.catalogue-manga-card-image:hover {
    width:190px;
    height: 250px;
    
    /* transform: translateY(-30%); */
}

.icone-option-card {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../assets/add.png);
    background-color: white;
    background-size: cover;
    position: absolute;
   
    

    
}



.icone-option-card:hover {
    background-color: pink;
}



.ligne-carte-catalogue-manga {
    width: 90%;
    padding-top: 10px;
    border-bottom: 2px solid black;
}

.carte-catalogue-manga-title {
    color: rgba(255, 255, 255, 0.517);
    margin: 0 0 0 0;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.carte-catalogue-manga-title[title-length-sup18="true"] {
    font-size: 0.7rem;  
    text-align: center;
}



.add-optn {
    padding-left: 10px;
}




