
.container h1 {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;

}

.containerCatalogueChoix {
    display: flex;
    justify-content: center;
}

.containerCatalogueChoix .link-catalogue {
    text-decoration: none;
}

.anime {
    width: 40vw;
    height: 70vh;
    background-color: #FF6767;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.anime h2 {
    color: white;
}

.manga {
    width: 40vw;
    height: 70vh;
    background-color: #33B5DF;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.manga h2 {
    color: white;
}

@media (max-width: 768px) {
    .anime, .manga {
        height: 50vh;
    }
}