.blockTrier {
    width: 100%;
    height: auto;
    background-color: #662D91;
    border-radius: 5px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}

.blockTrier h3, p {
    color: white;
}

.petitContainer3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

.btn-tri {
    background-color: #33B5DF;
    border-radius: 5px;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.btn-effacer-tri {
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    height: 50px;
    width: 50px;
    font-size: 20px;
}

.btn-tri:hover {
    background-color: lightgrey;
    color: #33B5DF;
    border: 1px solid #33B5DF;
    cursor: pointer;
}

.btn-effacer-tri:hover {
    background-color: lightgrey;
    color: #33B5DF;
    border: 1px solid #33B5DF;
    cursor: pointer;
}