.container-genre {
    width: auto;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.sous-container-genre {
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

/*-- Permet de changer la largeur de défilement --*/
.sous-container-genre::-webkit-scrollbar {
    width: 15px;
}

.sous-container-genre::-webkit-scrollbar-thumb {
    background-color: #3a86ff; /* Couleur de la poignée de défilement au survol */
}

.checkbox {
    display: flex;
    justify-content: space-arround;
}

div.checkbox {
    width: 20%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}