
.container-ma-collection {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sous-container-ma-collection {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

/* --------------------------------------------------- OPTION MENU ------------------------------------- */
.option-menu {
    width: 100%;
    height: auto;
    padding-bottom: 5px;;
    border-bottom: 2px solid rgba(250, 249, 249, 0.237);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* --------------------------------------------------- TITLE MENU LEFT------------------------------------- */
.title-menu-left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
    margin-bottom: 5px;
}


.page-all {
    margin: 0 5px 0 0;
    font-size: 1.5rem;
    color: white;
    width: auto;
    cursor: pointer;
}

.custom-page {
    margin: 0 5px 0 0;
    padding-left: 5px;
    font-size: 1.5rem;
    color: white;
    width: auto;
    border-left: 2px solid rgba(250, 249, 249, 0.237);
    cursor: pointer;
}
.icone-add-page {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../assets/add.png);
    background-color: rgba(255, 255, 255, 0.722);
    background-size: cover;
    cursor: pointer;
    /* position: absolute;     */
}

.icone-add-page:hover {
    background-color: rgba(255, 255, 255, 0.922);
}



/* --------------------------------------------------- TITLE MENU RIGHT------------------------------------- */

.title-menu-right {
    display: flex;
    
}

.button-filter {
    height: 40px;
    width: 110px;
    font-size: 20px;
    background-color: #8EED62;
    border-radius: 20px;
    border: 2px solid black;
}

.button-filter:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid #8EED62;
    color: #8EED62;
}

.loupe:hover {
    cursor: pointer;
}


/* -------------------------------------------------------- MEDIA QUERIES OPTION MENU ------------------------------------*/







/* ------------------------------------------------------------- CONTAINER CARD ------------------------------------*/

.container-card-ma-collection {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
    border: 2px solid rgba(250, 249, 249, 0.244);
    
}

.sous-container-card-ma-collection {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    
    padding: 60px;
}

.catalogue-link {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    background: white;
  }
  
  .catalogue-link:hover {
    background-color: #8a2be2;
  }




