.ma-collection-filtre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 12%;
}

.ma-collection-filtre p {
    font-size: 20px;
}

.ma-collection-filtre:hover {
    cursor: pointer;
    border-bottom: 2px solid black;
}