
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.container-ma-collection {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: auto;
    margin-top: 20px;
}

/* --------------------------------------------------- OPTION MENU ------------------------------------- */
.option-menu {
    width: 100%;
    height: auto;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* --------------------------------------------------- TITLE MENU LEFT------------------------------------- */
.title-menu-left {
    display: flex;
    align-items: center;
    width: auto;
    font-size: 30px;
    height: auto;
    margin-bottom: 10px;
}

.page-all {
    display: flex;
    align-items: center;
    align-content: center;
    height: 60px;
    width: auto;
    justify-content: space-between;
    margin-right: 20px;
}

.page-all h3 {
    margin: 0 0 0 0;
    font-size: 1em;
}

.page-all:hover {
    cursor: pointer;
}

.container-new-page {
    display:flex;
    flex:1;
}
.insufficient-space {
    overflow:hidden;

}

.button-new-page {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.button-new-page h3 {
    margin: 0 0 0 0;
    font-size: 1em;
}

.button-new-page:hover {
    cursor: pointer;
}

.icon-add {
    padding-left: 10px;
}


.new-page {
    margin-right: 20px;
}

.new-page h3 {
    margin: 0 0 0 0;
    font-size: 1em;
}




/* --------------------------------------------------- TITLE MENU RIGHT------------------------------------- */

.title-menu-right {
    display: flex;
    
}

.button-filter {
    height: 40px;
    width: 110px;
    font-size: 20px;
    background-color: #8EED62;
    border-radius: 20px;
    border: 2px solid black;
}

.button-filter:hover {
    cursor: pointer;
    background-color: white;
    border: 2px solid #8EED62;
    color: #8EED62;
}

.loupe:hover {
    cursor: pointer;
}


/* -------------------------------------------------------- MEDIA QUERIES OPTION MENU ------------------------------------*/







/* ------------------------------------------------------------- CONTAINER CARD ------------------------------------*/

.container-card-ma-collection {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: blueviolet;
    
}

.sous-container-card-ma-collection {
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    background-color: brown;
    padding: 60px;
}

.catalogue-link {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-decoration: none;
    color: #000;
    background: white;
  }
  
  .catalogue-link:hover {
    background-color: #8a2be2;
  }




