.container-navbar {
    width: 100%;
}

.navbar li div {
    display: flex;
    align-items: center;
}

.search-bar {
    width: 250px;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border-radius: 20px;
}

.search-bar input {
    width: 100%;
    border: none;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}
