.pagination {
    display: flex;
    justify-content: space-between;
}

.sous-container-pagination a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-left: 15px;
}

.sous-container-pagination a:hover {
    color: blue;
}

.bg-fleche  {
    width: 40px;
    height: 40px;
    background-color: #1F305E;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}




.bg-fleche-unable {
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}


.bg-fleche img {
    position: absolute;
    max-width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 20%;
}

.bg-fleche-unable img {
    position: absolute;
    max-width: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    top: 20%;
    left: 10%;
}

.prev img {
    transform: rotate(90deg);
}

.next img {
    transform: rotate(-90deg);
}

.bg-fleche:hover {
    cursor: pointer;
    background-color: blue;
}

.nombre-page, .current-button {
    display: flex;
    justify-content: space-between;
}

.other-button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 30px;
    color: blue;
}

.current-button {
    border: none;
    padding: 0;
    background-color: transparent;
    color: white;
    font-size: 40px;
}

.current-button:hover, .other-button:hover {
    cursor: pointer;
    color: white;
}