.container-nbr-chapitre {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
}

.sous-container {
    width: 100%;
    border-bottom: 2px solid black;
}

.sous-container-nbr-chapitre {
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
}

h3 {
    padding-bottom: 20px;
}

.signe-inferieur {
    transform: rotate(90deg);
}

.moinsDe, .plusDe {
    height: 30px;
    width: 60px;
    background-color: white;
    display: flex;
}

.plusDe {
    margin-right: 50px;
}

.moinsDe input, .plusDe input {
    width: 50px;
    border: none;
    background-color: transparent;
}

.moinsDe input:focus, .plusDe input:focus {
    outline: none;
}

input[type="checkbox"] {
    transform: scale(2.3); 
  }

.checkboxText {
    display: flex;
    margin-left: 10px;
}

.checkboxText input {
    margin-right: 15px;
}