.button-filtre button {
    background-color: #3a86ff;
    border-radius: 5px;
    border: 1px solid white;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.button-filtre button:hover {
    background-color: lightgrey;
    color: #33B5DF;
    border: 1px solid #33B5DF;
    cursor: pointer;
}