
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button-filtre-component {
    width: 70%;
}

.container .button-filtre-component {
    align-self: center;
}

.blockCarteManga {
    width: 70%;
    height: auto;
    background-color: #662D91;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.blockCarteManga .container-card {
    align-self: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-card {
    width: 70%;
    height: auto;
    margin-bottom: 10px;
    display: flex;
    margin-top: 20px;
}


/*----------------------------------------- PAGINATION --------------------------------------*/

.container-pagination {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.sous-container-pagination {
    width: 10%;
    margin-left: 50%;
    margin-bottom: 50px;
    height: auto;
    display: flex;
    justify-content: center;
}