.container-genre {
    width: auto;
    height: 60%;
    display: flex;
    justify-content: center;
}

.sous-container-genre {
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[type="checkbox"] {
    transform: scale(2.3); 
  }

.checkboxText {
    display: flex;
    margin-left: 10px;
}

.checkboxText input {
    margin-right: 15px;
}

.genre {
    padding-left: 15px;
    padding-bottom: 15px;
}