.container-profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    background-color: #ddd;
    height: 100vh;
    overflow-y: auto;
    width: 80%;
    margin: 0 auto;
}

.fond-ecran-container {
    margin-top: 50px;
}
/* Styles pour les autres éléments */
.fond-ecran {
    border: 0.2px solid black;
    width: 100%;
    height: 30vh;
    background-image: url('../assets/naruroUzumaki.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    align-self: flex-start;
}

.photo-profil {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 350px;
    border-radius: 175px;
    background-color: #fff;
    color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 18px;
    z-index: 2;
    background-image:url('../assets/naruroUzumaki.png');
    background-size: contain;
    background-position: center;
    mask-image: radial-gradient(circle at center, white 51%);
}

.pseudo-titre-biographie {
    width: 100%;
    height: 300px;

    border: 1px solid black;
}

.watchtime {
    width: 100%;
    height: 50px;
    border: 1px solid black;
}

.mes-badges {
    width: 100%;
    height: 200px;
    border: 1px solid black;
}

.statistiques {
    width: 100%;
    height: 200px;
    
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
}
